@use "./base.scss";

// put your custom CSS here!

#explorer {
  display: none;
  position: fixed; /* Make it a floating menu */
  top: 0;
  left: 0;
  height: 100%;
  width: 300px; /* Adjust the width as needed */
  background-color: #1c1c1c; /* Match the dark theme background */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it appears on top */
}

/* Show the explorer when the 'open' class is added */
#explorer.open {
  display: block;
}

.hamburger {
  margin-right: 1rem;

  cursor: pointer;

  font-size: 24px;
  color: #d1d1d1;

  z-index: 1001;
}
